@import url('../../fonts/poppins/poppins.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0em;
  font-family: 'Poppins', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background: var(--body-bg);
}
body.noscroll {
  overflow-y: hidden;
}

#container {
  margin: auto;
  width: 100%;
  height: 3000px;
}

/* ################# */
/* #### NAV-BAR ####*/
/* ################# */

:root {
  --sub-menu-offset: -40%;
}

nav {
  position: sticky;
  top: 0px;
  height: 6rem;
  display: flex;
  /* overflow: hidden; */
  z-index: 10;
  background-color: var(--primary-bg);
  -webkit-box-shadow: 0px 0px 8px 0px rgb(190, 190, 190); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 8px 0px rgb(190, 190, 190); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 8px 0px rgb(190, 190, 190);
}

nav:not(.js-is-sticky--change) > div > div > a > img[class='nav__left__logo__img'] {
  transform: rotate(-360deg);
  transition: transform 250ms ease-in-out;
}

/* ################# */
/*      NAVBAR       */
/* ################# */

/* ### StickyBits:- when navbar scrolled ###*/
.nav.js-is-sticky.js-is-sticky--change {
  height: 3.3rem;
  /* font-size: 0.8rem; */
}

.nav.js-is-sticky.js-is-sticky--change > .nav__left > .nav__left__title > .nav__left__title--tagline {
  display: none;
}

.nav.js-is-sticky.js-is-sticky--change > .nav__right:not(.current) .nav__right__menu > li {
  font-size: 1.1rem;
}

.nav.js-is-sticky.js-is-sticky--change .nav__left__logo__img {
  height: 2.3rem;
}
.nav.js-is-sticky.js-is-sticky--change .nav__left__logo__img:hover {
  transform: rotate(-180deg);
}

/* #####  NAV - LEFT  ##### */
.nav__left {
  height: inherit;
  display: flex;
  align-items: center;
}

.nav__left__logo {
  display: inline-block;
  z-index: 50;
}
.nav__left__logo__img {
  height: 3rem;
  margin-left: 2rem;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
  z-index: 51;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.nav__left__logo img[class='nav__left__logo__img']:hover,
.nav__left__logo:focus-within img[class='nav__left__logo__img'] {
  transform: rotate(-540deg);
  transition: transform 200ms ease-in-out;
}

.nav__left__title {
  width: 13rem;
  margin-left: 2rem;
  color: var(--logo-text-header-color);
}
.nav__left__title--right {
  color: var(--font-primary-nav);
}
.nav__left__title--tagline {
  font-style: italic;
  color: var(--logo-text-tagline-color);
}

/* #####  NAV - RIGHT  ##### */
.nav__right {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.nav__right__wrapper {
  height: 100%;
  max-width: 850rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav__right__wrapper ul {
  list-style: none;
}

.nav__right__wrapper a {
  text-decoration: none;
}

/* Down Arrow size and Color (set color in svg file itself) */
.nav__right__menu > li > a > img.nav__right__down-arrow {
  width: 1rem;
  height: 1rem;
}
.nav__right__menu li img.nav__right__down-arrow {
  width: 0.8rem;
  height: 0.8rem;
}

.menu-icons {
  color: aliceblue;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  display: none;
}

.nav__right__menu {
  /* height: 6rem; */
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__right__menu li {
  position: relative;
  font-size: 1rem;
  font-weight: 900;
}
.nav__right__menu > li {
  font-size: 1.2rem;
  line-height: 3rem;
}

.nav__right__menu a {
  display: block;
  color: var(--font-primary-nav);
  padding: 1rem 1rem;
  transition: color 400ms;
}
.nav__right:not(.current) .nav__right__menu a {
  text-align: center;
}
.nav__right__menu > li > a {
  text-transform: uppercase;
}

.nav__right__menu a:hover {
  color: var(--link-hover);
}

.nav__right__menu--sub-menu {
  width: 23vw;
  /* white-space: nowrap; */
  display: block;
  position: absolute;
  border-top: 3px solid var(--link-hover);
  background-color: var(--sub-menu-bg);
  z-index: 50;
  top: 10rem;
  transition: top 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.nav__right__menu--sub-menu a {
  color: var(--sub-menu-font-color);
  font-weight: 300;
}
.nav__right__menu--sub-menu a:hover {
  color: var(--font-primary-nav);
}

.nav__right:not(.current) .nav__right__menu--sub-menu {
  transform: translateX(var(--sub-menu-offset));
}

.nav__right:not(.current) .nav__right__menu li:hover > .nav__right__menu--sub-menu,
.nav__right:not(.current) .nav__right__menu li:focus-within > .nav__right__menu--sub-menu {
  top: 5rem;
  opacity: 1;
  visibility: visible;
}

.nav__right:not(.current) .nav__right__menu--sub-menu li:hover > .nav__right__menu--sub-menu,
.nav__right:not(.current) .nav__right__menu--sub-menu li:focus-within > .nav__right__menu--sub-menu {
  top: 0rem;
  transition: all 250ms;
}
.nav__right:not(.current) .nav__right__menu--sub-menu li:hover > .nav__right__menu--sub-menu,
.nav__right:not(.current) .nav__right__menu--sub-menu li:focus-within > .nav__right__menu--sub-menu {
  left: calc(-100% - var(--sub-menu-offset) - 1.2rem);
}

.nav__right__menu--sub-menu::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  right: 4rem;
  border: 1.2rem solid transparent;
  border-bottom-color: var(--link-hover);
}
.nav__right__menu--sub-menu::after {
  content: '';
  position: absolute;
  top: -2rem;
  width: 100%;
  height: 2rem;
}
.nav__right__menu--sub-menu > li > a {
  line-height: 1rem;
}

.nav__right__menu--sub-menu .nav__right__menu--sub-menu {
  border-top: none;
  border-right: 3px solid var(--link-hover);
  /* translate to -((parent submenu width x 2) + width of arrow) */
  /* transform: translateX(-41rem); */

  top: 0;
  left: -100%;
  transition: all 0s;
}

.nav__right__menu--sub-menu .nav__right__menu--sub-menu::before {
  top: 0.5rem;
  right: -2.5rem;
  border: 1.2rem solid transparent;
  border-left-color: var(--link-hover);
}
.nav__right__menu--sub-menu .nav__right__menu--sub-menu::after {
  content: '';
  top: 0;
  right: -2.5rem;
  height: 100%;
  width: 2.5rem;
}

/* ################# */
/*    Media Queries     */
/* ################# */

@media (max-width: 30cm) {
  .nav__right__wrapper ul li {
    font-size: 1.5vw;
  }
  .nav__right__wrapper > ul > li {
    font-size: 1.1rem;
  }
  .nav.js-is-sticky.js-is-sticky--change .nav__right__wrapper > ul > li a {
    font-size: 1.1rem;
  }

  .nav__right__menu > li > a {
    padding: 1rem 0.8rem;
  }

  .nav__right__menu--sub-menu a {
    /* line-height: 1rem; */
    padding: 1rem 0.5rem;
  }

  .nav__right__menu--sub-menu {
    width: 22vw;
  }
  /* Down Arrow size and Color (set color in svg file itself) */
  .nav__right__menu > li > a > img.nav__right__down-arrow {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (max-width: 27cm) {
  /* @Media: Container */
  #container {
    width: 100%;
  }
  /* @Media : Sticky Bits */
  .nav.js-is-sticky.js-is-sticky--change .nav__left__logo__img {
    height: 2rem;
  }

  /* @Media: nav-left */
  .nav__left {
    font-size: 0.8rem;
  }
  .nav__left__title {
    width: 10rem;
    margin-left: 1rem;
  }
  .nav__left__logo img {
    height: 2.5rem;
    margin-left: 1rem;
  }

  /* @Media: nav-right */
  .nav__right__wrapper ul li {
    font-size: 1rem;
  }
  /* .nav__right__wrapper > ul > li {
    font-size: 1.2rem;
  } */

  /* #######*/
  /* Displaying NavBar Vertically */
  /* #######*/
  .nav__right__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: initial;
    justify-content: flex-start;
    background-color: var(--sub-menu-bg);
    z-index: 60;
    overflow-y: scroll;
  }

  .nav__right__menu > li {
    line-height: 1rem;
    position: relative;
    top: 1.5rem;
  }
  .nav__right__menu .nav__right__down-arrow {
    pointer-events: none;
  }

  .nav__right.current .nav__right__menu li.clicked > .nav__right__menu--sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  .nav__right__menu--sub-menu {
    position: initial;
    border: 3px solid transparent !important; /* to override the specifivity imposed by (.nav__right__menu--sub-menu.nav__right__menu--sub-menu) which is more specific, but we want all(including children) sub menu border to be none */
    border-right: none;
    border-left-color: var(--font-primary-nav) !important; /*without this above important will override this*/
    margin-left: 1rem;
    max-height: 0;
    width: 80vw;
  }
  .nav__right__menu--sub-menu::before {
    display: none;
    color: var(--font-primary-nav);
  }
  .nav__right__menu--sub-menu::after {
    display: none;
  }

  .nav__right__menu--sub-menu a {
    padding: 0.5rem 0.5rem;
  }

  /* Down Arrow size and Color (set color in svg file itself) */
  .nav__right__menu > li > a > img.nav__right__down-arrow {
    width: 1rem;
    height: 1rem;
  }

  .menu-icons {
    display: block;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  .nav__right__menu-close {
    display: none;
  }
  .nav__right.current .nav__right__menu-close {
    display: block;
    position: relative;
    right: 1vw;
  }
  .nav__right.current .nav__right__burger-menu {
    display: none;
  }

  .nav__right.current .nav__right__menu {
    display: flex;
  }

  .nav__right.current .nav__right__menu--sub-menu li:hover > .nav__right__menu--sub-menu {
    left: calc(-100% - 1.2rem);
  }

  /* .nav__right__menu--sub-menu .nav__right__menu--sub-menu {
    transition: 0s 1000s;
  } */
}

@media (orientation: landscape) and (max-height: 12cm) and (max-width: 27cm) {
  nav {
    height: 4rem;
    position: relative !important; /* !important -> to override the specificity imposed on nav element by stickyBits */
  }
  .menu-icons {
    position: fixed;
    top: 2rem;
    background-color: var(--primary-bg);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
}
