/* variables */
:root {
  --primary-bg: rgb(34, 37, 37);
  --body-bg: rgb(216, 232, 240);
  --font-primary-nav: rgb(140, 181, 194);
  --link-hover: rgb(182, 223, 144);
  --sub-menu-bg: #191919;
  --slider-bg: rgb(38, 45, 46);
}
